body {
background: linear-gradient(120deg,#667eea,#764ba2);
font-family: Arial;
color:white;
text-align:center;
}

.login-box {
width:300px;
margin:auto;
margin-top:150px;
background:white;
color:black;
padding:30px;
border-radius:10px;
}

.container {
display:flex;
justify-content:center;
gap:30px;
margin-top:50px;
}

.card {
background:white;
color:black;
padding:20px;
border-radius:10px;
width:300px;
}
.card:hover {
transform: scale(1.03);
transition: 0.3s;
}